{% extends "admin_generic.html" %}
{% load static %}

{% block content %}
<div class="inicio-adm">
    <div class="inicio-adm-titulo">
        <h1>Elegir tarea a realizar</h1>
    </div>
    <div class="inicio-adm-opciones">
        <div class="inicio-adm-opciones-botones1">
           <a href="{% url 'mantener_cliente' %}">Mantener Clientes</a> 
        </div>
        <div class="inicio-adm-opciones-botones2">
           <a href="{% url 'mantener_departamento' %}">Mantener Departamento</a> 
        </div>
        <div class="inicio-adm-opciones-botones3">
            <a href="{% url 'pagos_adm' %}">Pagos</a> 
         </div>
         <div class="inicio-adm-opciones-botones4">
            <a href="{% url 'mantener_servicios' %}">Mantener Servicios Basicos</a> 
         </div>
         <div class="inicio-adm-opciones-botones5">
            <a href="{% url 'generar_estadistica' %}">Generar Estadistica</a> 
         </div>
         <div class="inicio-adm-opciones-botones6">
            <a href="{% url 'generar_informe' %}">Generar Informe</a> 
         </div>
         <div class="inicio-adm-opciones-botones7">
             <a href="#">Autentificar Cliente</a> 
          </div>
          <div class="inicio-adm-opciones-botones8">
             <a href="#">Ver mi Perfil</a> 
          </div>
    </div>
</div>
{% endblock %}
