{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  {% block title %}<title>Turismo Real</title>{% endblock %}
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.theme.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/owl.transitions.min.css' %}" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'img/logo.PNG' %}" rel="icon"> 

</head>
<body class="page-index has-hero">
  <div id="background-wrapper" class="buildings" data-stellar-background-ratio="0.1">
    <div id="navigation" class="wrapper">
      <div class="header-hidden collapse">
        <div class="header-hidden-inner container">
        </div>
      </div>
      <div class="header">
        <div class="header-inner container">
          <div class="row">
            <div class="col-md-8">
              <a class="navbar-brand" href="{% url 'index' %}" title="Home">
                <h1 class="hidden">
                    <img src="{% static 'img/logo.PNG' %}" alt="Logo Turismo Real">
                    Turismo Real
                  </h1>
              </a>
            </div>
            {% block sidebar %}
            <div class="col-md-4">
              <ul class="list-inline user-menu pull-right">
                <li class="user-login"><i class="fa fa-sign-in text-primary"></i> <a href="{% url 'login' %}" class="text-uppercase">Login</a></li>
              </ul>
            </div>
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
    <div class="hero" id="highlighted">
      <div class="inner">
        <div id="highlighted-slider" class="container">
          <div class="item-slider" data-toggle="owlcarousel" data-owlcarousel-settings='{"singleItem":true, "navigation":true, "transitionStyle":"fadeUp"}'>
            <div class="item">
              <div class="row">
                <div class="col-md-6 col-md-push-6 item-caption">
                  <h2 class="h1 text-weight-light">
                      Bienvenido a <span class="text-primary">Turismo Real</span>
                  </h2>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="row">
                <div class="col-md-6 text-right-md item-caption">
                  <h2 class="h1 text-weight-light">
                      <span class="text-primary">Turismo Real</span> te ofrece calidad
                  </h2>
                  <p>Registrate y usa nuestros servicios, te garantizamos, que sera tu mejor experiencia
                    , debio a que nuestra empresa, va 100% enfocado en tu necesidad, nuestro es lema "Disfurtar y disfrutar", te esperamos.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% block content %}
    
    
  {% endblock %}
  <footer id="footer" class="block block-bg-grey-dark" data-block-bg-img="img/bg_footer-map.png" data-stellar-background-ratio="0.4">
    <div class="container">
      <div class="row subfooter">
        <div class="col-md-7">
          <p>Derechos Reservados por Turismo Real</p>
        </div>
        <div class="col-md-5">
          <ul class="list-inline pull-right">
            <li><a href="{% url 'index' %}">Redes Sociales</a></li>
          </ul>
        </div>
      </div>
      <a href="#top" class="scrolltop">Top</a>
    </div>
  </footer>
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>
  <script src="{% static 'lib/waypoints/waypoints.min.js' %}"></script>
  <script src="{% static 'lib/counterup/counterup.min.js' %}"></script>
  <script src="{% static 'contactform/contactform.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <script src="{% static 'js/color-switcher.js' %}"></script>
</body>
</html>
