{% extends "cliente_generic.html" %}
{% load static %}

{% block content %}
<div class="listadoreserva">
<div class="container">
    <h1>Listado de Reservas</h1>
    <div style="height:50px"></div>
    <p class="lead">
    <p>Aqui podra encontrar a todas tus reservas hechas a lo largo del tiempo</p>
    <hr>
    <input class="form-control col-md-3 light-table-filter" data-table="order-table" type="text" placeholder="Buscador..">
    <br>
    <br>
    <table class="table table-bordered order-table ">
      <thead>
      <div class="nombrestr">
        <tr>
          <th>Codigo</th>
          <th>Departamento</th>
          <th>Fecha Ingreso</th>
          <th>Fecha Salida</th>
          <th>Cancelar</th>
        </tr>
      </thead>
    </div>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
    <p>Si desea registrar una Reserva haga click en el siguiente link <a href="#">Haga click aqui para Reserva</a></p>
    </div>
</div>

{% endblock %}