{% extends "funcionario_generic.html" %}
{% load static %}

{% block content %}

<center> 
<div class="menu2">
 <ul class="menu2">
     <h2><strong> Datos personales </strong></h2>
     <br>
    <li >
        <h3>Correo</h3>
        <p><a href="Correo: f.ordenesg@alumnos.duoc.cl">f.ordenesg@alumnos.duoc.cl</a></p>
    </li>
    <li>
        <h3>Apellido</h3>
        <p><a href="Correo: f.ordenesg@alumnos.duoc.cl">Ordenes</a></p>
    </li>
    <li>
        <h3>Edad</h3>
        <p><a href="Correo: f.ordenesg@alumnos.duoc.cl">22 años</a></p>
    </li>
    <li>
        <h3>Nacionalidad</h3>
        <p><a href="Correo: f.ordenesg@alumnos.duoc.cl">Chileno</a></p>
    </li>
    <li>
        <h3>Rut</h3>
        <p><a href="Correo: f.ordenesg@alumnos.duoc.cl">20.984.345-9</a></p>
    </li>

    <li>
        <h3>Telefono</h3>
        <p><a href="Correo: f.ordenesg@alumnos.duoc.cl">+56923183726</a></p>
    </li>
</div>
</center>

{% endblock %}