{% extends "cliente_generic.html" %}
{% load static %}
      {% if cliente_list %}
      <table class="table table-bordered order-table ">
        <thead>
        <div class="nombrestr">
          <tr>
            <th>Nombre Completo</th>
          </tr>
        </thead>
      </div>
        <tr>
            {% for cliente in cliente_list %}
          <td>{{ cliente.Nombre }} {{ cliente.Apellidos }}</td>
        </tr>
        {% endfor %}
      </table>  
      </div>
      {% else %}
      <div id="listaturista">
        <h1>No hay nuevas rutas registradas</h1>
      </ul>
        <h2>Error 404</h2>
        <div id="botonregreso">
            <a href="{% url 'index' %}">Incio</a>
        </div>
      </ul>
      </div>
        <br>
        <br>
        {% endif %} 
        <br>
        <br>
{% endblock %}