ul{
    list-style: none;
}
.Container{
    margin: auto;
}
.botones{
    font-size: 17px;
    display: inline;
    justify-content: space-around;
    align-items: center;
}
.nav-brand{
    width: 55px;
}
.botones ul li a {
    padding: 8px;
}
.botones ul li a:hover {
    border-bottom: 2px solid #000000;
    animation: none;
}
.botones ul{
    display: flex;
}
.nav-main ul{
    display: flex;
}
.nav-main ul.nav-menu{
    flex: 1;
    margin: 20px;
}
.nav-main ul.nav-menu-rigth{
    margin-right: 50px ;
}
.social{
    margin: 50 px;
}
.social p{
    text-align: center;
    font-size:30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;
}
.links a {
    margin: 0 30px;
}
.links a i{
   font-size: 3rem;
}
.menu2{
    background: #0000009f;
    padding: 7%;
    margin: 6%;
    border-radius: 15px solid black;
}

.menu2 li{
    text-align: left;
    font-size:20px;
    margin-bottom: 30px;
}

.menu2 h2{
    color: #fdfdfd;
    text-align: center;
}

.menu2 h3{
    color: #eb8110;
    text-align: center;
}

.menu2 p{
    color: #ffffff;
    text-align: center;
}

